# This file Has to be process by source command


# IMPORTANT
COMPOSE_PROJECT_NAME=$PROJECT_NAME-$DOCKER_ENV

# Wordpress
DC_CONFIG=wordpress-apache-svelte.yml
WP_VERSION=6.1.1
WP_CONFIG_EXTRA="
/** START CUSTOM ADDITIONS **/
//https://github.com/docker-library/php/issues/212#issuecomment-204817907
error_reporting(E_ALL); // Error engine - always ON!

define( 'WP_DEBUG_DISPLAY', false );
ini_set( 'display_errors', False); // Error display - OFF in production env or real server
ini_set( 'log_errors', True); // Error logging
#ini_set( 'error_log', '/dev/stderr' ); // Logging file
ini_set( 'error_log', '/tmp/php_error.log' ); // Logging file
ini_set( 'log_errors_max_len', 1024 ); // Logging file size

/** Disable the default wp-cron.php behavior/timing. */
#define('WP_ALLOW_REPAIR', true); # Enabled /wp-admin/maint/repair.php
#define( 'DISABLE_WP_CRON', true );
#define( 'FORCE_SSL_LOGIN', true );
#define( 'FORCE_SSL_ADMIN', true );
define( 'DISALLOW_FILE_EDIT', true );
define( 'WP_MEMORY_LIMIT', '100M' );
define( 'WP_MAX_MEMORY_LIMIT', '256M' );
#define( 'GRAPHQL_DEBUG', true );
define( 'GRAPHQL_JWT_AUTH_SECRET_KEY', 'hackme' );
/** END CUSTOM ADDITIONS **/
"

# DB
MYSQL_ROOT_PASSWORD=rootdb#@
MYSQL_USER=wordpress
MYSQL_PASSWORD=wordpresdc#$
MYSQL_DATABASE=$COMPOSE_PROJECT_NAME

# Web
FRONTEND_HTTP_PORT=80
FRONTEND_HTTPS_PORT=443
WEBSERVER_HTTP_PORT=8080
WEBSERVER_HTTPS_PORT=4443
PHPMYADMIN_PORT=8081

# WP & NGNIX
WP_HTDOCS=./$DOCKER_ENV/htdocs
WP_THEME_FOLDER=./$DOCKER_ENV/themes
WP_UPLOAD_FOLDER=./$DOCKER_ENV/uploads
WP_PLUGINS_FOLDER=./$DOCKER_ENV/plugins
WP_FRONTEND=./$DOCKER_ENV/frontend